body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('https://img.freepik.com/free-photo/watercolor-paint-background_23-2148017445.jpg?size=626&ext=jpg&uid=R103638021&ga=GA1.2.211014714.1684584172&semt=ais');
  background-position: center; 
  background-size: cover;
}

.toolbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

canvas {
  border: 10px solid black;
  border-top-style: double;
  border-bottom-style: double;
  border-color: black;
  cursor: crosshair;
  background-color: white;
}
